.DS_Store
.idea
*.vsix
node_modules/
out/
dist/
test/resources/testCordovaProject/.vscode/
test/resources/testCordovaProject/platforms/
test/resources/testCordovaProject/plugins/
test/resources/testCordovaProject/typings/
test/resources/testCordovaProject/jsconfig.json
test/resources/testCordovaProject/package-lock.json
test/resources/testCordovaProject/package.json
.vscode-test/
nls.*.json
test/ExtensionTests.xml
test/LocalizationTests.xml

# Compiled files
src/**/*.js
test/**/*.js
**/*.js.map
*-report