!CordovaTypings/**
**/*.ts
**/*.map
.vscode/**
.vscode-test/**
typings/**
*.vsix
gulpfile.js
tsconfig.json
.eslintrc.js

i18n/**
out/**
dist/src

node_modules/**
.github/**
.ci/**
release/**
test/**
src/**
debugger/**
.gitignore
.npmignore
OSSREADME.json
CONTRIBUTING.md

mochawesome-report/**